nav {

    ul {
        list-style-type: none;
        display: flex; 
        justify-content: center;
    
    }

    li a {
       
        margin-right: 10px;
        text-decoration: none;
       
    }
    
}